a.cta(href="",onClick="test(event)") Learn more now <i class="ion-chevron-right"></i>
h1 
  span Good at
  br
  span bussiness?

.overlay
  .modal
    .close-btn: span
    .text-box
      p.lead Business stuff in your inbox, all the time.
          p Sign up for our newsletter to download this 200+ page secrets of business PDF!
    .graphic
    form
      input(type="text",placeholder="Email Address")
      input(type="submit", value="Submit")